<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apps</key>
	<dict>
		<key>com.AreaSplitEven.ssd</key>
		<dict>
			<key>name</key>
			<string>河豚观影</string>
			<key>rules</key>
			<array>
				<dict>
					<key>class</key>
					<string>ABUNativeAdsManager</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>4B163371-C805-422A-9C85-9D7C25750C37</string>
					<key>note</key>
					<string>首页弹窗广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setDelegate:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-21T09:14:44Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>ABUNativeAdView</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>6DB5443B-CA93-4DE9-9147-9BB03B5C990A</string>
					<key>note</key>
					<string>我的界面底部横幅广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>loadAdData</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v16@0:8</string>
					<key>updatedAt</key>
					<date>2026-09-21T10:41:40Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>BaiduMobAdExpressIntViewController</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>26645621-D475-431D-B30D-C417AF72A242</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setDelegate:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-21T09:46:37Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>BaiduMobAdExpressIntViewController</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>BBDA6089-43F3-4CA1-8796-0E6CD918793D</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>viewDidLoad</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v16@0:8</string>
					<key>updatedAt</key>
					<date>2026-09-21T09:47:18Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>BaiduMobAdExpressIntViewController</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>FF1C4D98-839C-440B-97BF-48A15EBD7733</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>viewWillAppear:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v20@0:8B16</string>
					<key>updatedAt</key>
					<date>2026-09-21T09:47:28Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>BaiduMobAdSplash</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>2C77921A-1B3A-4AEA-9B13-60487DFCDC90</string>
					<key>note</key>
					<string>启动广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setDelegate:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-21T08:37:43Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>CSJNativeExpressAdManager</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>EB17F168-2370-4D5F-A583-F3A84DAEEEFF</string>
					<key>note</key>
					<string>首页弹窗广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setDelegate:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-21T08:41:38Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>CSJSplashAd</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>3496B92E-3761-413D-9A4A-760D6D7718B0</string>
					<key>note</key>
					<string>启动广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setDelegate:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-21T08:37:57Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>GDTInterstitialDLContent</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>72B9B2F8-5541-4733-B04F-E18A70E9295E</string>
					<key>note</key>
					<string>首页弹窗广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setDelegate:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-21T08:46:49Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>GDTMaskViewController</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>CAA3698B-2031-40D1-8F2D-C29F33ECD100</string>
					<key>note</key>
					<string>首页弹窗广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setContentView:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-21T09:15:42Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>GDTMaskViewController</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>0AD4DAF2-CED1-4073-8C31-157ECDEF3717</string>
					<key>note</key>
					<string>首页弹窗广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>viewDidLoad</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v16@0:8</string>
					<key>updatedAt</key>
					<date>2026-09-21T09:15:52Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>GDTSplashAdImp</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>A1DEA786-B5BE-4548-9BE0-1EE035251CE6</string>
					<key>note</key>
					<string>启动广告</string>
					<key>returnKind</key>
					<integer>1</integer>
					<key>returnValue</key>
					<false/>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>loading</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>B16@0:8</string>
					<key>updatedAt</key>
					<date>2026-09-21T08:38:09Z</date>
				</dict>
			</array>
			<key>updatedAt</key>
			<date>2026-09-21T10:41:40Z</date>
		</dict>
	</dict>
	<key>exportedAt</key>
	<date>2026-09-21T12:26:06Z</date>
	<key>format</key>
	<string>appfix-config</string>
	<key>generator</key>
	<string>appfix 1.2.21</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
