<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apps</key>
	<dict>
		<key>com.chareu.fei</key>
		<dict>
			<key>currentSheet</key>
			<string>D0CA98A2-8F1B-419D-B7E0-E3D89E521CC9</string>
			<key>name</key>
			<string>宠物毛绒梳理</string>
			<key>rules</key>
			<array>
				<dict>
					<key>class</key>
					<string>CSJNativeExpressAdManager</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>297FE9E7-0AF3-4AED-80C4-DB11F2B647C2</string>
					<key>note</key>
					<string>首页弹窗</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setAdManager:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-05T08:13:42Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>CSJNativeExpressFeedVideoAdView</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>8A6BD4A9-7E81-4B2F-8683-FB5279823325</string>
					<key>note</key>
					<string>我的界面底部广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>initWithFrame:nativeAd:nativeExpressAdViewSource:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>@64@0:8{CGRect={CGPoint=dd}{CGSize=dd}}16@48q56</string>
					<key>updatedAt</key>
					<date>2026-09-05T01:07:19Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>CSJSplashView</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>6F100199-61D4-4491-8EA7-823E9392E81A</string>
					<key>note</key>
					<string>启动广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setSplashViewModel:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-05T00:58:17Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>GDTAdDataManager</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>F46DA0AE-E41E-4553-9A7C-A66ACD43ABFE</string>
					<key>note</key>
					<string>首页弹窗广告以及视频暂停弹窗广告（竖屏）</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>loadAd:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-05T11:19:20Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>GDTBaseIMP</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>18DE6428-8B56-4E00-8B88-E16C8641907A</string>
					<key>note</key>
					<string>视频暂停弹窗广告（横屏）</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>loadAd</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v16@0:8</string>
					<key>updatedAt</key>
					<date>2026-09-05T11:20:29Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>GDTSplashAd</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>2F3ABD96-BBD5-4D47-A399-80B0C91AA9FD</string>
					<key>note</key>
					<string>启动广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>setDelegate:</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v24@0:8@16</string>
					<key>updatedAt</key>
					<date>2026-09-05T05:30:04Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>KSAdInterstitialViewController</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>7BD88A1E-4F01-4858-955C-B0E732EF65E1</string>
					<key>note</key>
					<string>首页弹窗</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>viewDidLoad</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v16@0:8</string>
					<key>updatedAt</key>
					<date>2026-09-05T05:29:53Z</date>
				</dict>
				<dict>
					<key>class</key>
					<string>KSSplashAdView</string>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>4F171F6E-1F6A-4ECD-9117-3302020AEB07</string>
					<key>note</key>
					<string>启动广告</string>
					<key>returnKind</key>
					<integer>5</integer>
					<key>scope</key>
					<integer>0</integer>
					<key>selector</key>
					<string>loadAdData</string>
					<key>sheet</key>
					<string>default</string>
					<key>strategy</key>
					<integer>0</integer>
					<key>types</key>
					<string>v16@0:8</string>
					<key>updatedAt</key>
					<date>2026-09-05T01:29:03Z</date>
				</dict>
			</array>
			<key>sheets</key>
			<array>
				<dict>
					<key>enabled</key>
					<true/>
					<key>id</key>
					<string>default</string>
					<key>name</key>
					<string>主修改页</string>
					<key>updatedAt</key>
					<date>2026-09-06T11:18:47Z</date>
				</dict>
			</array>
			<key>updatedAt</key>
			<date>2026-09-06T11:20:51Z</date>
		</dict>
	</dict>
	<key>exportedAt</key>
	<date>2026-09-06T11:21:00Z</date>
	<key>format</key>
	<string>appfix-config</string>
	<key>generator</key>
	<string>appfix 1.0.0</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
